<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_meta_defaults.html.ejs', {}) %>
    <title>Belza Digital - Book your Digital Consultant now!</title>
    <meta name="description" content="Kinga &amp; Martin Belza are Digital Consultants from Munich offering a variety of professional services in the areas of Content Strategy, User Research, Front-end engineering, UI/UX, Project Management etc." />
    <link href="home.css" rel="stylesheet" />
    <link rel="prefetch" href="/martin<%= hrefExt %>" />
    <link rel="prefetch" href="/kinga<%= hrefExt %>" />
    <link rel="prefetch" href="/martin-belza.jpg" />
    <link rel="prefetch" href="/kinga-belza.jpg" />
    <%- include('_favicons.html.ejs', {}) %>
  </head>
  <body id="book-your-digital-consultant-now">
    <div class="bg"></div>
    <main>
      <div class="logo">
        <%- include('_ci/logo-darkbg.svg.ejs', { className: 'logo-signet anim anim--0' }) %>
        <%- include('_ci/belza-digital.svg.ejs', { className: 'logo-copy anim anim--1' }) %>
      </div>
      <div class="action anim anim--2">
        <input type="checkbox" class="nav-switch" id="navSwitch"/>
        <a href="/kinga<%= hrefExt %>" class="image-link kinga">
          <img src="kinga-belza-square.jpg" width="80" height="80" alt="Kinga Belza" />
          <span>Kinga</span>
        </a>
        <a href="/martin<%= hrefExt %>" class="image-link martin">
          <img src="martin-belza-square.jpg" width="80" height="80" alt="Martin Belza" />
          <span>Martin</span>
        </a>
        <label for="navSwitch" class="btn action-btn anim anim--4">Book your Digital Consultant now</label>
      </div>
    </main>
    <%- include('_footer.html.ejs', { className: 'anim anim--3' }) %>
    <video playsinline autoplay muted loop class="bg-video" oncanplay="this.classList.add('loaded')" id="video">
    </video>
    <script>
      setTimeout(function() { // defer
        if (window.innerWidth < 800) return; // do not load & show video on small devices - assuming mobile
        document.getElementById('video').innerHTML = '<source type="video/mp4" src="cloudy.mp4">';
      });
    </script>
    <%- include('_ga.html.ejs') %>
  </body>
</html>
