<!DOCTYPE html>
<html lang="en" class="dark-mode">
  <head>
    <%- include('_meta_defaults.html.ejs', {}) %>
    <title>Kinga Belza - Digital Consultant - Belza Digital GmbH - Munich, Germany</title>
    <meta name="description" content="in business since 1999 ★ 90+ projects ★ proven leadership skills ★ a variety of professional knowledge ★ fun to work with" />
    <meta name="keywords" content="digital, agile web development, kanban, scrum, lean, team leadership, front-end architecture, mobile web, user interface engineering, screendesign, technical project management, freelance, munich, kinga, belza, consulting, consultant" />
    <meta name="author" content="Kinga Belza" />
    <link rel="stylesheet" href="consulting.css" />
    <%- include('_favicons.html.ejs', { themeColor: '#ffffff', manifestName: 'manifest-consulting' }) %>
  </head>
  <body>
    <a href="/#book-your-digital-consultant-now" class="logo" title="back home"><%- include('_ci/logo-darkbg.svg.ejs', {}) %></a>
    <header class="kinga">
      <h1>Belza Digital</h1>
      <p><strong>Let's make your project a success.</strong></p>
    </header>

    <main role="main">
      <article>
        <h1 class="name">Kinga Belza</h1>
        <p class="job-title"><strong>Digital Consultant</strong></p>

        <h2>5 reasons people like to work with me</h2>
        <ul class="reasons">
          <li>in business since 2003</li>
          <li>client facing</li>
          <li>proven leadership skills</li>
          <li>a variety of professional knowledge</li>
          <li>fun to work with</li>
        </ul>

        <h2>Want to book me for a project?</h2>
        <p class="contact"><span class="fa-icon"><%- include('_fa/fa-envelope.svg') %></span> Get in touch via <a href="mailto:kinga@belza.digital">kinga@belza.digital</a></p>

        <h2>About me</h2>
        <p>x xxxxxxx xx xxxxxx xx xxx xxxxxxxxx xx xxx xxx-xxx xxx xxxxxx xxxx xx x xxxxxxxxx xxxxxxxxxxx xxxxxxxx <strong>xxxxxxxx xxxxxxxx, xxx-xxxx, xx-xxxx, xxxxxx xxxxx xxx xxxxxxxxxxx xxxxxx</strong>.</p>

        <p>xxxxx xx <strong>xxxxxx xx xxxxxxxx xxxxxxx</strong> xx xxxx xxx xxxxxxx xxxxxxxx xxx xxx xxxxxx x xxx xxxxxxxx xx <strong>xxxx xxxxxxxx, xxxxxxxxxxx xxxxxxxxxx, xxxx xxxx xxxxxxxx xxxxxxxxxxx xxx xxxx xxxxxxxxx xxxxxxxxxxx</strong>.</p>

        <p>xxxx xxx xx <strong>xxxxxxxxxx xxxx xxxxxxxx, xxxxxxxxxxxxx, xxxxxxxxxxx xxx xxxxx-xxx</strong>, x'x xxx x xxxxxxxxx xxxxxxx xxxxxxxxxx xxxx xxxx xx xxxxxxxxx xx <strong>xxxx xxx xxxx xxxx xxxxxxx x xxxxxxx</strong>.</p>
      </article>

      <aside>
        <section>
          <h2>Facts</h2>
          <dl class="facts">
            <dt><span class="fa-icon"><%- include('_fa/fa-map-marker.svg') %></span> Location</dt>
            <dd>Munich - Germany</dd>

            <dt><span class="fa-icon"><%- include('_fa/fa-building.svg') %></span> Type of work</dt>
            <dd>Freelance</dd>

            <dt><span class="fa-icon"><%- include('_fa/fa-graduation-cap.svg') %></span> Education</dt>
            <dd>Graduate Psychologist</dd>

            <dt><span class="fa-icon"><%- include('_fa/fa-trophy.svg') %></span> Areas of expertise</dt>
            <dd>
              <ul class="skills">
                <li>Content Strategy</li>
                <li>User Research</li>
                <li>Team Leadership</li>
                <li>User Experience Design</li>
                <li>Project Management</li>
                <li>Agile Project Experience</li>
              </ul>
            </dd>
          </dl>
        </section>

        <section>
          <h2>Profile links</h2>
          <ul class="links">
            <li><span class="fa-icon"><%- include('_fa/fa-xing-square.svg') %></span> <a href="https://www.xing.com/profile/Kinga_Belza">Xing profile / CV</a> <small>(german)</small></li>
          </ul>
        </section>
      </aside>
    </main>

    <%- include('_footer.html.ejs', {}) %>
    <%- include('_ga.html.ejs', {}) %>
  </body>
</html>
