<!DOCTYPE html>
<html lang="en" class="dark-mode">
  <head>
    <%- include('_meta_defaults.html.ejs', {}) %>
    <title>Kinga Belza - Digital Consultant - Belza Digital GmbH - Munich, Germany</title>
    <meta name="description" content="positive can-do attitude ★ agile mindset ★ successful team lead ★ hands-on team player ★ broad professional knowledge" />
    <meta name="keywords" content="Stakeholder Interviews, Content Research, Persona Development, Experience Maps, Content Inventories & Audits, Content Matrix, Content Migration, Content Models & Flows, Content Development, Editorial Guidelines, Content Playbooks, User Research, In-depth Interviews, Surveys, Prototype Testing, Usability Testing, Project Management of Research Programs, Stakeholder Management" />
    <meta name="author" content="Kinga Belza" />
    <link rel="stylesheet" href="consulting.css" />
    <%- include('_favicons.html.ejs', { themeColor: '#222222', manifestName: 'manifest-kinga' }) %>
  </head>
  <body>
    <a href="/#book-your-digital-consultant-now" class="logo" title="back home"><%- include('_ci/logo-darkbg.svg.ejs', {}) %></a>
    <header class="kinga">
      <h1>Belza Digital</h1>
      <p><strong>Let's make your project a success.</strong></p>
    </header>

    <main role="main">
      <article>
        <h1 class="name">Kinga Belza</h1>
        <p class="job-title"><strong>Digital Consultant</strong></p>

        <h2>5 reasons people like to work with me</h2>
        <ul class="stars">
          <li>positive can-do attitude</li>
          <li>agile mindset</li>
          <li>successful team lead</li>
          <li>hands-on team player</li>
          <li>broad professional knowledge</li>
        </ul>

        <h2>Want to book me for a project?</h2>
        <p class="contact"><span class="fa-icon"><%- include('_fa/fa-envelope.svg') %></span> Get in touch via <a href="mailto:kinga@belza.digital">kinga@belza.digital</a></p>

        <h2>About me</h2>
        <p>I am a freelance Content Strategist with 15+ years international project experience. With my educational background in psychology I always strive to create user experiences that resonate with their audiences’ needs. Both my clients and coworkers value my broad expertise, people skills and dedication to each task at hand.</p>

        <h2>Experience Strategy Skills</h2>
        <ul class="stars">
          <li>Persona Development</li>
          <li>Experience Maps</li>
          <li>Content Inventories &amp; Audits</li>
          <li>Content Migration</li>
          <li>Content Models &amp; Flows</li>
          <li>Editorial Guidelines</li>
          <li>Content Playbooks</li>
        </ul>
        <h2>User Research Skills</h2>
        <ul class="stars">
          <li>In-depth Interviews</li>
          <li>Surveys</li>
          <li>Prototype Testing</li>
          <li>Usability Testing</li>
        </ul>
        <h2>Project Management Skills</h2>
        <ul class="stars">
          <li>Stakeholder Management</li>
          <li>Agile Methods</li>
          <li>Workshop Planning &amp; Facilitation</li>
        </ul>

        <h2>Facts</h2>
        <dl class="facts">
          <dt><span class="fa-icon"><%- include('_fa/fa-map-marker.svg') %></span> Location</dt>
          <dd>Munich - Germany</dd>

          <dt><span class="fa-icon"><%- include('_fa/fa-building.svg') %></span> Type of work</dt>
          <dd>Freelance</dd>

          <dt><span class="fa-icon"><%- include('_fa/fa-graduation-cap.svg') %></span> Education</dt>
          <dd>Graduate Psychologist (Diplom-Psychologin)</dd>

          <dt><span class="fa-icon"><%- include('_fa/fa-globe-solid.svg') %></span> Languages</dt>
          <dd>
            <ul class="skills">
              <li>German</li>
              <li>English</li>
              <li>Polish</li>
            </ul>
          </dd>
        </dl>

        <h2>Profile links</h2>
        <ul class="links">
          <li><span class="fa-icon"><%- include('_fa/fa-xing-square.svg') %></span> <a href="https://www.xing.com/profile/Kinga_Belza">Xing profile / CV</a> <small>(german)</small></li>
        </ul>
      </article>
    </main>

    <%- include('_footer.html.ejs', {}) %>
    <%- include('_ga.html.ejs', {}) %>
  </body>
</html>
