<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_meta_defaults.html.ejs', {}) %>
    <title>Martin Belza - Digital Consultant - Belza Digital GmbH - Munich, Germany</title>
    <meta name="description" content="in business since 1999 ★ 90+ projects ★ proven leadership skills ★ a variety of professional knowledge ★ fun to work with" />
    <meta name="keywords" content="digital, agile web development, kanban, scrum, lean, team leadership, front-end architecture, mobile web, user interface engineering, screendesign, technical project management, freelance, munich, martin, belza, consulting, consultant" />
    <meta name="author" content="Martin Belza" />
    <link rel="stylesheet" href="consulting.css" />
    <%- include('_favicons.html.ejs', { themeColor: '#ffffff', manifestName: 'manifest-martin' }) %>
  </head>
  <body>
    <a href="/#book-your-digital-consultant-now" class="logo" title="back home"><%- include('_ci/logo-lightbg.svg.ejs', {}) %></a>
    <header class="martin">
      <h1>Belza Digital</h1>
      <p><strong>Let's make your project a success.</strong></p>
    </header>

    <main role="main">
      <article>
        <h1 class="name">Martin Belza</h1>
        <p class="job-title"><strong>Digital Consultant</strong></p>

        <h2>5 reasons people like to work with me</h2>
        <ul class="reasons">
          <li>in business since 1999</li>
          <li>90+ projects</li>
          <li>proven leadership skills</li>
          <li>a variety of professional knowledge</li>
          <li>fun to work with</li>
        </ul>

        <h2>Want to book me for a project?</h2>
        <p class="contact"><span class="fa-icon"><%- include('_fa/fa-envelope.svg') %></span> Get in touch via <a href="mailto:martin@belza.digital">martin@belza.digital</a></p>

        <h2>About me</h2>
        <p>I started my career at the beginning of the dot-com era around 1999 as a freelance interactive designer <strong>creating websites, web-apps, cd-roms, online games and promotional movies</strong>.</p>

        <p>After my <strong>degree in computer science</strong> in 2008 and several projects for big brands I was employed as <strong>game designer, interactive consultant, team lead software development and vice president engineering</strong>.</p>

        <p>With all my <strong>experience from agencies, consultancies, enterprises and start-ups</strong>, I'm now a freelance Digital Consultant with lots of knowledge to <strong>help you make your project a success</strong>.</p>
      </article>

      <aside>
        <section>
          <h2>Facts</h2>
          <dl class="facts">
            <dt><span class="fa-icon"><%- include('_fa/fa-map-marker.svg') %></span> Location</dt>
            <dd>Munich - Germany</dd>

            <dt><span class="fa-icon"><%- include('_fa/fa-building.svg') %></span> Type of work</dt>
            <dd>Freelance</dd>

            <dt><span class="fa-icon"><%- include('_fa/fa-graduation-cap.svg') %></span> Education</dt>
            <dd>B. Sc. Computer Science And Media</dd>

            <dt><span class="fa-icon"><%- include('_fa/fa-trophy.svg') %></span> Areas of expertise</dt>
            <dd>
              <ul class="skills">
                <li>Agile Software Development</li>
                <li>Kanban</li>
                <li>Scrum</li>
                <li>Lean</li>
                <li>Team Leadership</li>
                <li>Front-End Architecture</li>
                <li>Mobile Web</li>
                <li>User Interface Engineering</li>
                <li>User Experience Design</li>
                <li>Screendesign</li>
                <li>Technical Project Management</li>
              </ul>
            </dd>
          </dl>
        </section>

        <section>
          <h2>Profile links</h2>
          <ul class="links">
            <li><span class="fa-icon"><%- include('_fa/fa-linkedin-square.svg') %></span> <a href="http://de.linkedin.com/pub/martin-belza/9a/4a7/197/">LinkedIn profile / CV</a></li>
            <li><span class="fa-icon"><%- include('_fa/fa-xing-square.svg') %></span> <a href="https://www.xing.com/profile/Martin_Belza">Xing profile / CV</a> <small>(german)</small></li>
            <li><span class="fa-icon"><%- include('_fa/fa-external-link-square.svg') %></span> <a href="https://www.freelance.de/Freiberufler/84448/">Freelance.de profile</a> <small>(german)</small></li>
            <li><span class="fa-icon"><%- include('_fa/fa-github-square.svg') %></span> <a href="https://github.com/layflags">Github profile</a></li>
          </ul>
        </section>
      </aside>
    </main>

    <%- include('_footer.html.ejs', {}) %>
    <%- include('_ga.html.ejs', {}) %>
  </body>
</html>
