<!DOCTYPE html>
<html lang="en" manifest="/auto.appcache">
  <head>
    <%- include('_meta_defaults') %>
    <title>Belza Digital - Book your Digital Consultant now!</title>
    <link href="home.css" rel="stylesheet" />
    <%- include('_favicons', {}) %>
  </head>
  <body>
    <div class="bg"></div>
    <main>
      <%- include('_ci/belza-digital-logo-v.svg') %>
      <a href="/consulting<%= hrefExt %>" class="btn consulting">Book your Digital Consultant now!</a>
    </main>
    <%- include('_footer') %>
    <%- include('_ga') %>
  </body>
</html>
